body {
  background: #ffffff;
}

.clearfix::after {
  /* 擬似クラス */
  clear: both;
  content: "";
  display: block;
}

.three-columns-float {
  .three-columns__item {
    float: left;
    width: 33.3%;
    height: 200px;
    &:nth-child(1) {
      background: red;
    }
    &:nth-child(2) {
      background: green;
    }
    &:nth-child(3) {
      background: blue;
    }
  }
}

#test-inline-block .three-columns-inline-block {
  font-size: 0;

  .three-columns-inline-block__img {
    display: inline-block;
    width: 33.3%;
    font-size: 12px;

    .three-columns-inline-block__img__size {
      width: 100%;

      img {
        width: inherit;
      }
    }
  }
}

#flexbox .three-columns-float__flexbox {
  display: flex;
  height: 200px;
}

.three-columns-float__flexbox__item {
  flex-grow: 1;

  &:nth-child(1) {
    background: red;
    flex-basis: 50px;
    flex-grow: unset;
  }

  &:nth-child(2) {
    background: green;
  }

  &:nth-child(3) {
    background: blue;
  }
}