@charset "UTF-8";

html {
  font-size: 14px;
  font-family: -apple-system, "Roboto", "Helvetica Neue", "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, sans-serif;
  background: #f7f3e8;
}

body {
  line-height: 1.5;
  color: #3c3c3c;
}

a {
  color: #401c00;
  text-decoration: none;
}

a:visited {
  color: #a27652;
}

a:hover {
  text-decoration: underline;
}