@charset "UTF-8";
html {
  font-size: 14px;
  font-family: -apple-system, "Roboto", "Helvetica Neue", "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, sans-serif;
  background: #f7f3e8;
}

body {
  line-height: 1.5;
  color: #3c3c3c;
}

a {
  color: #401c00;
  text-decoration: none;
}

a:visited {
  color: #a27652;
}

a:hover {
  text-decoration: underline;
}

.header {
  background-color: #FFFF;
}

.header__inner {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 130px;
}

.header .memberList {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search {
  margin-top: 10px;
}

.header .search__form--text {
  background-repeat: no-repeat;
  padding: 3px 0 0 10px;
  background-position: 3px center;
  width: 280px;
  height: 30px;
  outline: none;
  border-radius: 3px;
  border: #401c00 1px solid;
  font-size: 16px;
}

.header .search__form--submit {
  outline: none;
  font-size: 13px;
  font-size: 0.92857rem;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e0e0e0));
  background: linear-gradient(white, #e0e0e0);
  border: #a8a8a8 1px solid;
}

.header .search__trend {
  color: #401c00;
  padding-top: 5px;
}

.header .search .trendList {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search .trendList__item a {
  font-size: 14px;
  color: #4c4a40;
  padding-right: 10px;
  font-weight: bold;
}

.header .search .trendList__icon {
  left: auto;
  width: 20px;
}

.header__sub {
  background-color: #F3983E;
}

.header .headerBunner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 5px;
}

.header .headerBunner__img {
  width: 20px;
}

.header .headerBunner__text {
  font-size: 16px;
  color: #FFFF;
  padding-left: 10px;
}

.container .contant .main .mainMenu__recipe {
  position: relative;
}

.container .contant .main .mainMenu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4c4a40;
}

.container .contant .main .mainMenu__list {
  border-right: #ded5c0 1px solid;
  width: 33%;
  text-align: center;
  margin: 5px;
}

.container .contant .main .mainMenu .mainMenuContainer__name {
  display: table-cell;
  vertical-align: middle;
}

.container .contant .main .mainMenuInfo {
  margin: 5px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .contant .main .mainMenuInfo__label {
  margin: 5px;
  padding: 5px 0;
  text-align: center;
  background-color: #F3983E;
  color: #FFFF;
  width: 50px;
  border-radius: 4px;
}

.container .contant .main .mainMenuInfo__label--manth {
  font-size: 8px;
}

.container .contant .main .mainMenuInfo__title {
  color: #FFFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.container .contant .main .mainMenuInfo__name {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  bottom: 3px;
  position: absolute;
  right: 0;
}

.container .contant .main .mainMenuInfo__name--icon {
  width: 20px;
  border-radius: 4px;
}

.container .contant .main .mainMenuInfo__name p {
  color: #FFFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  font-size: 8px;
  display: inline;
}

.container__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background-color: #ffffff;
  border: #ded5c0 1px solid;
  border-radius: 4px;
  margin-top: 10px;
}

.container .mainContent {
  display: block;
}

.container .mainContent__title {
  padding: 10px;
  border-top: 6px solid #7d940a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .underBorder {
  border-bottom: #ded5c0 1px solid;
}

.container .title__recipe {
  font-size: 16px;
}

.container .listLink {
  text-align: right;
  font-size: 12px;
  padding: 5px;
  font-weight: bold;
  margin-left: auto;
}

.recommendedLists__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommendedLists--img {
  width: 50px;
}
/*# sourceMappingURL=style.css.map */