@mixin fontsize($size: 24, $base: 14) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


html {
  font-size: 14px;
  font-family: -apple-system, "Roboto", "Helvetica Neue", "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, sans-serif;
  background: #f7f3e8;
}

body {
  line-height: 1.5;
  color: #3c3c3c;
}

a {
  color: #401c00;
  text-decoration: none;

  &:visited {
    color: #a27652;
  }

  &:hover {
    text-decoration: underline;
  }
}

.header {
  background-color: #FFFF;
  &__main {
    display: flex;
  }
  &__inner {
    padding: 10px;
  }
  &__logo {
    width: 130px;
  }
  .memberList {
    float: right;
    display: flex;
  }

  .search {
    margin-top: 10px;
    &__form {
      &--text {
        background-repeat: no-repeat;
        padding: 3px 0 0 10px;
        background-position: 3px center;
        width: 280px;
        height: 30px;
        outline: none;
        border-radius: 3px;
        border: #401c00 1px solid;
        font-size: 16px;
      }

      &--submit {
        outline: none;
        @include fontsize(13);
        border-radius: 3px;
        background: linear-gradient(rgb(255, 255, 255), rgb(224, 224, 224));
        border: rgb(168, 168, 168) 1px solid;
      }
    }

    &__trend {
      color: #401c00;
      padding-top: 5px;
    }
    .trendList {
      margin-top: 10px;
      display: flex;
      &__item {
        a {
          font-size: 14px;
          color: #4c4a40;
          padding-right: 10px;
          font-weight: bold;
        }
      }
      &__icon {
        left: auto;
        width: 20px;
      }
    }
  }
  &__sub {
    background-color: #F3983E;
  }

}

  .contant {
    .main {}
  }